@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");

@layer components {
  .bg-default {
    @apply bg-no-repeat bg-contain;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .scroll-in {
    @apply translate-x-0 transition-transform;
  }

  .scroll-out {
    @apply -translate-x-full transition-transform;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #e7e7eb;
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: unset;
}

ul,
li {
  list-style: none;
}
