@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");

@layer components {
  .bg-default {
    @apply bg-no-repeat bg-contain;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .scroll-in {
    @apply translate-x-0 transition-transform;
  }

  .scroll-out {
    @apply -translate-x-full transition-transform;
  }

  .circle-btn {
    @apply w-10 h-10 flex-center shadow-btn rounded-full bg-gray-500 cursor-pointer mr-3 font-bold;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #e7e7eb;
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: unset;
}

ul,
li {
  list-style: none;
}

progress {
  -webkit-appearance: none;
  appearance: none;
}

progress[value]::-webkit-progress-value {
  background-color: #ffec65;
}

progress[value]::-webkit-progress-bar {
  background-color: #e7e7eb;
}

.clear {
  background-image: url("./assets/Clear.png");
}

.hail {
  background-image: url("./assets/Hail.png");
}

.heavycloud {
  background-image: url("./assets/HeavyCloud.png");
}

.lightcloud {
  background-image: url("./assets/LightCloud.png");
}

.lightrain {
  background-image: url("./assets/LightRain.png");
}

.heavyrain {
  background-image: url("./assets/HeavyRain.png");
}

.showers {
  background-image: url("./assets/Shower.png");
}

.sleet {
  background-image: url("./assets/Sleet.png");
}

.snow {
  background-image: url("./assets/Snow.png");
}

.thunderstorm {
  background-image: url("./assets/Thunderstorm.png");
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #100e1d;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #f1f1f1;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  transition: background-color 5000s ease-in-out 0s;
}
